<div class="banner">
    <h1>Welcome to Our Restaurant!</h1>
    <p>Explore our delicious menu and place your order today.</p>
  </div>
  
  <p-carousel 
    [value]="menuItems" 
    [numVisible]="3" 
    [numScroll]="3" 
    [circular]="true" 
    [responsiveOptions]="responsiveOptions" 
    [autoplayInterval]="3000"
  >
    <ng-template let-item pTemplate="item">
      <div class="carousel-item">
        <div class="image-container">
          <img 
            [src]="'./assets/images/' + item.image" 
            [alt]="item.name" 
            class="carousel-image" 
          />
          <span 
            class="veg-tag" 
            [ngClass]="{'veg': item.isVeg, 'non-veg': !item.isVeg}"
          >
            {{ item.isVeg ? 'Veg' : 'Non-Veg' }}
          </span>
        </div>
        <div class="item-content">
          <h4 class="item-name">{{ item.name }}</h4>
          <div class="item-footer">
            <span class="item-price">{{ item.price | currency:'INR':'symbol' }}</span>
            <div  class="cart-controls">
              <button class="cart-btn minus-btn" (click)="removeFromCart(item)" [disabled]="getCartQuantity(item.id) === 0">-</button>
              <ng-container *ngIf="getCartQuantity(item.id) === 0; else quantityDisplay">
                <button class="cart-btn add-to-cart-btn" (click)="addToCart(item)">Add item</button>
              </ng-container>
              <ng-template #quantityDisplay>
                <span class="cart-quantity">Qty: {{ getCartQuantity(item.id) }}</span>
              </ng-template>
              <button class="cart-btn plus-btn" (click)="addToCart(item)">+</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  
  <div class="home-content">
    <h2>Welcome, Customer!</h2>
    <p>This is your home page.</p>
  </div>